body{
    margin: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
*{
    box-sizing: border-box;
}
.display{
    display: flex;
    flex-wrap: wrap;
}
h1{
    margin: 0;
    text-align: center;
    padding: 5px;
    background-color: rgb(246, 234, 234);
    width: 100%;
    color: rgba(48, 14, 243, 0.872);

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
    .column1{
        flex:45%;
        padding: 10px;
        background-color: aliceblue;
    }
    @media only screen and (max-width:600px){
        .column1{
            flex: 100%;
            background-color: aliceblue;
        }
    }
    .column2{
        flex:45%;
        padding: 10px;
        background-color:azure;
    }
    label{
        display: block;
        text-align:left;
        margin-right:100px;
        font-size: smaller;
    }
    input[type="text"],input[type="tel"],input[type="number"]{
        padding: 10px;
        width: 50%;
        display: block;
        margin: 0 auto;
        border: none;
        justify-content: center;
        background-color: aliceblue;
        border-bottom: 2px solid black;
    }
    input[type="submit"]{
        display: block;
        font-size: larger;
        margin: auto;
        padding:10px;
        border-radius:50px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        width:120px;
        transition-duration: 0.8s;
        border: 1px solid green;
        background-color: azure;
    }
    input[type="submit"]:hover{
        background-color: black;
        color:white;
    }
    .webbio{
        text-align: center;
        color: indigo;
        font-family: Helvetica;
        word-break:keep-all;
    }
    h6{
        text-align: center;
    }
span{
    color: red;
}    